$primary-color: rgba(107, 143, 163, 1);
$secondary-color: rgba(12, 183, 207, 1);
$terciary-color: rgba(12, 183, 207, .15);
$black-value: rgba(10, 10, 10, 1);
$grey-value: rgba(133, 142, 142, 1);
$white-value: rgba(218, 221, 231, 1);
