$primary-color: rgba(107, 143, 163, 1);
$secondary-color: rgba(0, 91, 103, 1);
$terciary-color: rgba(0, 91, 103, 1);
$black-value: rgba(10, 10, 10, 1);
$grey-value: rgba(62, 54, 54, 1);
$white-value: rgba(218, 221, 231, 1);
